<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="theme-color" content="#f04530">
        <meta name="description" content="">
        <meta itemprop="name" content="">
        <meta itemprop="description" content="">
        <meta itemprop="image" content="">

        <title>Memory3 / AngularJS</title>

        <link rel="canonical"     href="https://C14L.com/memory/3/">
        <link rel="stylesheet"    href="/memory/3/main.css">
        <link rel="shortcut icon" href="/memory/3/favicon.ico">
        <link rel="manifest"      href="/memory/3/manifest.json">
        
        <script src="/memory/3/angular.min.js"></script>
        <script src="/memory/3/angular-animate.min.js"></script>
        <script src="/memory/3/angular-aria.min.js"></script>
        <script src="/memory/3/angular-touch.js"></script>
        <script src="/memory/3/main.js"></script>
    </head>
    <body ng-app="myApp">
        <main ng-controller="CardsController">
            <div class="cards">
                <div ng-if="card" class="card {{card.state}}" ng-click="click(card)" ng-repeat="card in cards track by $index">
                    <div class="front" style="background-image: url(/memory/3/pics/{{ card.name }}.jpg)"></div>
                    <div class="back"></div>
                </div>
            </div>
            <div class="counter" ng-class="{finished: isFinished}">
                <div class="turn-count" ng-bind="turnedCounter"></div>
                <div class="match-count" ng-bind="matchedCounter"></div>
                <div class="timer-count" ng-bind="timer"></div>
            </div>
            <div class="final-turn-count" ng-class="{finished: isFinishedTurn}">
                {{turnedCounter}} turns
            </div>
            <div class="final-timer-count" ng-class="{finished: isFinishedTimer}">
                {{timer}} seconds
            </div>
            <div class="final-points-count" ng-class="{finished: points}" ng-click="restart()">
                {{points}} points
            </div>
        </main>
    </body>
</html>
